

@media (max-width:768px) {
    html {
        font-size: 50%;
        text-align: center;
    }
    
    .rodape p {
        font-size: 120%;
    }
    .conteudo-principal-escrito-imagem {
    margin: 78px 0 0;
    height: 380px;
    }
    .conteudo-principal-tb-escrito-titulo {
        font-size: 5.5rem;
    }
    .barra-titulo-principal {
        font-size: 40px;
    }
    .ft-redes-sociais{
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
    nav .menu-btn i {
        display: block;
        font-size: 24px;
    }
    nav {
        padding: 0 25px 0 30px;
        position: fixed;
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #003840;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a.ativo,
    nav ul li a:hover {
    background: none;
    color: #f43000;
    }
    .conteudo-principal-escrito-botao {
        width: 90px;
        height: 38px;
        margin: 0 120px 0;
    }
}

@media (max-width:425px) {
    html {
        font-size: 30%;
        text-align: center;
    }
    nav {
        padding: 0 25px 0 25px;
        position: fixed;
    }
    .rodape p {
        font-size: 12px;
    }
    nav ul li a {
        font-size: 18px;
    }
    .conteudo-principal-tb-escrito-titulo {
        font-size: 1rem;
    }
    .barra-titulo-principal {
        font-size: 40px;
    }
    .conteudo-principal-escrito-imagem {
        height: 230px;
        margin: 70px 30px 0 0;
    }
    .conteudo-principal-escrito-botao {
        width: 90px;
        height: 38px;
        margin: 0 90px 0;
    }
    nav .logo {
        font-size: 25px;
    }
    nav .menu-btn i{
        font-size: 20px;
    }
    .rodape-imagem {
		height: 38px;
		display: block;
		margin: 0 auto;
	}
	.ft-redes-sociais {
		display: block;
		width: 100%;
		margin: 0px 0px 0px 5px;
	}
	.midias-sociais a {
		height: 30px;
		width: 30px;
		font-size: 18px;
	}
}

@media (max-width:320px) {
    nav {
        padding: 0 15px 0 10px;
    }
    .conteudo-principal {
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
    }
    .conteudo-principal-escrito-imagem {
        height: 210px;
        margin: 75px 0px 10px 20px;
    }
    .conteudo-principal-escrito-titulo {
        font-size: 5rem;
    }
    .conteudo-principal-escrito-subtitulo {
        font-size: 2rem;
    }
    .conteudo-principal-escrito-botao {
        width: 90px;
        height: 38px;
        margin: 0 100px 20px;
    }
    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin: 5px;
    }

    .conteudo-secundario-paragrafo{
        font-size: 12px;
        margin: 5px;
    }
    .conteudo-secundario span {
        font-size: 20px;
        font-weight: 700;
        line-height: 35px;
        color: #4c4c4c;
    }
    .navbar {
        display: none;
    }
}